
header {
	
	background-image: url(lilyheader.jpg);
	background-attachment: fixed;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 597px 150px;
	
	
	
	
}

body { background-color: #F5F5F5;
       color: #3F2860;
	   font-family: Verdana, Arial;   
	  	      	  
	   }
	   
h1 { background-color: #9BC1C2;
     color: #3F2860;
	 font-weight: bold;	 
	 text-indent: 1em;
	 line-height: 400%;
	 
	 }

nav { color: #ADD8E6;
	  text-align: center;
	  font-weight: bold;
	  text-decoration:  none;


	  }
nav a { 
		text-decoration:  none;
}
li {
	font-size: 90%; 
}

dt {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: bold;
}

footer { background-color: #9BC1C2;
		 color: #3F2860;
		 text-align: center;
		 font-size: small;
		 font-style: italic;

}

