
header {
	background-color: #9BC1C2;
	background-image: url(lilyheader.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 597px 150px;
	
	height: 150px ;
	
		
}

body { background-color: #3F2860;
	   font-family: Verdana, Arial;   
	   
	    	  
	   }

#wrapper  { margin-left: auto;
            margin-right: auto;
			width: 80%;
			color: #3F2860;
			background-color: #F5F5F5;
			min-width: 420 pixels;
			max-width: 1280px;
			
	              
}

  
h1 { /* background-color: #9BC1C2;
     color: #3F2860;
	 font-weight: bold;
	 text-indent: 1em; */	 
	 
	 padding-top: 50px;
	 padding-left: 2em;

	
	 
	 }

nav { color: #ADD8E6;
	  text-align: center;
	  font-weight: bold;
	  
	  background-color: #DBE8E9;
	  padding: 1em; 

}

nav a { 
	   text-decoration: none;
}


#mathero {
	
	height: 300px;
	background-image: url(yogamat.jpg);
	background-repeat: no-repeat;		 
	background-size: 100% 100%;

}

#loungehero{
	
	height: 300px;
	background-image: url(yogalounge.jpg);
	background-repeat: no-repeat;		 
	background-size: 100% 100%;

	
}

img {
	  padding: 2em;
	  
}

main { padding: 0 3em 3em 3em;
	   display: block;	
}	   

li {
	font-size: 90%; 
}

dt {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: bold;
}

footer { background-color: #9BC1C2;
		 color: #3F2860;
		 text-align: center;
		 font-size: small;
		 font-style: italic;
		 
		 padding: 1em;

}
