body { background-color: #FFFFFF;
       color: #000000;
	   font-family: Ti
	   font-size: 20px;
	  
	   }
h1 { background-color: #FF4500;
     color: #FFFFFF; 
	 }
h2 { color: #00BFFF; }
nav { background-color: #ADD8E6; }
dt {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
}
footer { background-color: #FFA07A;
		 color: #666666; 
		}
