body { background-color: #FFFFFF;
       color: #000000; 
	  
	   }
h1 { background-color: #191970;
     color: #FFFFFF; 
	 }
h2 { color: #00BFFF; }
nav { background-color: #ADD8E6; }
dt {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: bold;
}
footer { background-color: #ADD8E6;
		 color: #666666; 
		}
