body { background-color: #F5F5F5;
       color: #3F2860;
	      	  
	   }
h1 { background-color: #9BC1C2;
     color: #3F2860;
	 font-weight: bold;
	 
	 }

nav { color: #ADD8E6;

	  }

dt {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: bold;
}

footer { background-color: #9BC1C2;
		 color: #3F2860;
		 font-size: smaller;
		 font-style: italic;

}

